{% extends "base.html" %}

{% block content %}
<h1 class="ui header">Create task</h1>

<form class="ui form fluid segment" method="post" action="{% url 'taskmanager:create_task' %}">
    {% csrf_token %}
    <div class="field">
        <label>Name</label>
        {{ form.name }}
    </div>
    <div class="field">
        <label>Description</label>
        {{ form.description }}
    </div>
    <!-- <div class="field">
        <label>Assigned on</label>
        {{ form.assigned_on }}
    </div> -->
    <button class="ui fluid primary button" type="submit">Create</button>
</form>

{% endblock %}